# Bonus: Temperature Analysis I

In [13]:
import pandas as pd
from datetime import datetime as dt

In [14]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'], infer_datetime_format = True)

df.date.dtype

dtype('<M8[ns]')

In [16]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [17]:
# Drop the date column

df = df.drop(columns = 'date')

df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [19]:
from scipy import stats

In [22]:
# Filter data for desired months

june_data = df[df.index.month == 6]

december_data = df[df.index.month == 12]

In [27]:
# Identify the average temperature for June

june_av = june_data['tobs'].mean()

june_av

74.94411764705882

In [28]:
# Identify the average temperature for December
dec_av = december_data['tobs'].mean()

dec_av

71.04152933421226

In [25]:
# Create collections of temperature data
dec_collect = december_data['tobs']

june_collect = june_data['tobs']

In [29]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [30]:
# Run paired t-test

# p-value represents difference in average

stats.ttest_ind(june_collect, dec_collect)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis